#main {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "editor  transcript"
        "timeline transcript"
    ;
}

#editor {
    grid-area: editor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#transcript {
    grid-area: transcript;
}

#timeline {
    grid-area: timeline;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comp {
    background-color: #E2E2E2;
    border-radius: 10px;
    margin: 10px;
}

.compHeading {
    font-size: 2em;
    font-family: "Epilogue", sans-serif;
    margin: 0;
}
