.navBackground {
    height: 100px;
    width: 1920px;
    display: flex;
}

.navBackground .navBackgroundRectangle {
    height: 100px;
    left: 0;
    position: relative;
    top: 0;
    width: 1920px;
}

.navBackground .navBackgroundLogo {
    position: absolute;
    height: 100px;
    top: 5px;
    left: 40px;
    width: 401px;
    z-index: 1;

    cursor: pointer;
}


.navBackground .navBackgroundAccount {
    position: absolute;
    height: 74px;
    top: 25px;
    right: 54px;
    width: 67px;
    z-index: 1;
}