#main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
	"fileAdd configurePodcast";
	font-size: 2vh;
	margin: 2%;
}


#configurePodcast {
	grid-area: configurePodcast;
	margin-left: 5vh;
}

#configurePodcast > * {
	margin-bottom: 5vh;
}

.optionSelect {
	align-items: center;
}


input[type=checkbox] {
	vertical-align: middle;
	float: center;
}

label {
	display:block;
	overflow: hidden;
}


